* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(../img/background-img.jpg);
    color: white;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(255, 0, 0, 0.2);
    padding: 10px;
}
    header a {
        text-decoration: none;
    }
    .logo {
        height: 110px;
        margin: 0 20px;
    }
    ul {
        list-style-type: none;
        word-spacing: 20px;
    }
        ul li {
            display: inline-block;
        }
            ul li a {
                text-decoration: none;
                color: white;
                font-size: 20px;
                margin: 10px;
                transition: all 0.5s;
            }
            ul li a:hover {
                color: rgb(70, 173, 134);
            }
    .whatsapp {
        font-size: 15px;
        color: rgb(70, 173, 134);
        margin: 0 20px;
    }

main {
    margin: 20px 50px;
}
    .grilla {
        display: grid;
        grid-template-columns: repeat(2,auto);
        grid-template-rows: repeat(2,auto);
        color: rgb(230, 225, 225);
        text-align: justify;
        line-height: 1.5em;
        align-items: center;
        margin: 80px 150px;
        grid-gap: 50px 100px;
    }
        .grilla p, 
        .grilla img {
            width: 100%;
        }

#socialMedia a {
    display: inline-block;
    text-decoration: none;
    color: rgb(70, 173, 134);
    margin: 0px 10px;
}
#socialMedia a:hover {
    color: white;
}
footer {
    background-color:rgba(255, 0, 0, 0.2);
    align-items: center;
    padding: 10px;
    z-index: -1;
}
.centrado {
    display: flex;
    justify-content: center;
    margin: 5px 0;
}
    
